<el-container>
    <el-col :offset="8" :span="8" :xs="{span: 18, offset: 3}" style="margin-top: 10rem;">
      <el-form @submit.native.prevent="DoLogin" label-position="top" label-width="100px">
        <el-form-item label="Nickname">
          <el-input v-model="nickname"></el-input>
        </el-form-item>
        <el-form-item label="Password">
          <el-input v-model="password" type="password"></el-input>
        </el-form-item>
        <el-form-item style="text-align: right">
          <el-button native-type="submit" type="primary" :disabled="!nickname && !password">Login</el-button>
          <br>
          <el-link href="#" @click="ToRegistration" type="success">Registration</el-link> 
        </el-form-item>

      </el-form>
    </el-col>
</el-container>