<el-container>
  <el-row>
    <el-col :span="8" :offset="8" class="bg-purple">
      <form @submit.prevent="DoLogin" class="form border p-4">
        <div v-show="loginErrorMessage">{{loginErrorMessage}}</div>

        <label for="login" class="form-label">Login:</label>
        <el-input placeholder="Nickname" v-model="nickname"></el-input>

        <label for="password" class="form-label">Password:</label>
        <el-input placeholder="Password" v-model="password"  type="password"></el-input>

        <div class="text-center">
          <button class="btn btn-primary mt-2 " :disabled="!login && !password" type="submit"
            name="button">Login</button>
        </div>

      </form>
    </el-col>
  </el-row>
</el-container>