.asset {
    padding: 10px;
    border: 1px solid #ffd5d1;
    background-color: #dcfaf4;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.asset-icons {
    display: flex;
    justify-content: flex-end;
}

.asset .change {
    margin-right: 20px;
}

.asset-icons span {
    cursor: pointer;
    font-size: 30px;
}

