<div class="asset">
    <el-card :body-style="{ padding: '0px' }">
        <el-image :src="link" class="image" fit="contain" />
        <div style="padding: 14px;">
          <span>{{asset.name}}</span>
          <div class="bottom clearfix asset-icons">
                <div><b>{{owner}}</b></div>
                <div>
                    <span v-if="changePermission" @click="HandleAssetDetail(true)" class="el-icon-setting change"></span>
                    <span v-if="changePermission" @click="DeleteAsset" class="el-icon-delete change"></span>
                    <el-tooltip :disabled="!asset.likes.length" placement="top" :content="likes">
                        <span>
                            {{asset.likes.length}}
                            <span @click="DoLike" :class="likeIcon" />     
                        </span> 
                    </el-tooltip>
                </div>

                
            
          </div>
        </div>
    </el-card>
</div>
<AssetDetail 
    v-if="changePermission && assetDetailHandler"
    :asset="asset" 
    @close="(v) => HandleAssetDetail(v)"
/>
