<el-row>
    <el-col :offset="8" :span="8" align="center">
        <h1>BI Assets</h1>
    </el-col>
    <el-col :span="8" style="display: flex; justify-content: flex-end; align-items: center;">
        <el-link 
            href="#"
            @click="OpenUserDetail"
            type="success" 
            class="el-icon-user" 
            style="margin-right: 30px; cursor: pointer; font-size: 20px;">
            {{nickname}}
        </el-link>
    </el-col>
</el-row>
<el-row :gutter="10">
    <el-col v-for="asset in assets" 
        :key="asset.id" 
        :span="6"
        style="margin-top: 10px;"
    >
        <AssetItem  :asset="asset"  />
    </el-col>
</el-row>
    