<Modal>
    <template v-slot:header>
        {{asset.name}}
    </template>
    <template v-slot:body>
        <el-row style="margin-bottom: 20px;">
            <el-col :span="24">
              <el-image :src="link" fit="contain"/>
            </el-col>
        </el-row>
        <el-row>
            <el-col>
              <input @change="onFileChange" type="file">
              <el-input v-model="name"></el-input>
            </el-col>
        </el-row>
    </template>
    <template v-slot:footer>
        <el-button class="modal-default-button" @click="SaveAsset">Save</el-button>
        <el-button class="modal-default-button" @click="$emit('close')">Close</el-button>
    </template>
</Modal>
